---
Language: Cpp
BasedOnStyle: WebKit
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 80
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: "^<std.*>$"
    Priority: 3
  - Regex: "^<.*>$"
    Priority: 2
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
PenaltyReturnTypeOnItsOwnLine: 240
WhitespaceSensitiveMacros:
  - EMBED_FILE
AttributeMacros:
  - NODISCARD
  - FORMAT
  - UNUSED
  - COUNTED_BY
  - DESIGNATED_INIT
  - ALLOC_SIZE
  - ALLOC_ALIGN
  - NONNULL
  - NONNULL_IF_NONZERO
  - NULL_TERMINATED_STRING_ARG
  - ACCESS
  - COLD
  - CONST
  - PURE
  - FLAG_ENUM
  - ENUM_EXTENSIBILITY
ForEachMacros:
  - GGL_LIST_FOREACH
  - GGL_MAP_FOREACH
  - GGL_BUF_LIST_FOREACH
