root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[{*.{nix,yml,yaml,json,cmake},flake.lock,CMakeLists.txt}]
indent_size = 2

[{Makefile,*.mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[.gitmodules]
indent_style = tab

[COMMIT_EDITMSG]
max_line_length = 72
