name: UAT Component Tests

on:
  push:
    branches:
      - main

jobs:
  uat-test:
    strategy:
      fail-fast: false
      matrix:
        test-category:
          [
            { category: component, timeout: 1000 },
            { category: deployment, timeout: 3900 },
            { category: fleet-status, timeout: 1000 },
            { category: runtime, timeout: 1000 },
            { category: security, timeout: 1500 },
          ]
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ">=3.12"

      - name: Checkout testing repository
        uses: actions/checkout@v4
        with:
          repository: aws-greengrass/aws-greengrass-testing
          ref: python_testing
          path: aws-greengrass-testing

      - name: Get temporary AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: sts.amazonaws.com
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: ${{ matrix.test-category.timeout }}
          unset-current-credentials: true

      - name: Run UAT tests
        run: |
          cd aws-greengrass-testing
          ./run-tests.sh \
            --aws-account=${{ secrets.AWS_ACCOUNT_ID }} \
            --s3-bucket=${{ secrets.S3_BUCKET }} \
            --commit-id=${{ github.event.pull_request.head.sha }} \
            --aws-region=us-west-2 \
            --test-category=${{ matrix.test-category.category }}
