name: UAT Component Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      testing_repo:
        description: "Testing repository to use as source of tests"
        required: false
      testing_repo_ref:
        description: "Ref (branch) on the testing repo to use"
        required: false

jobs:
  list-tests:
    runs-on: ubuntu-24.04
    outputs:
      tests: ${{ steps.list.outputs.tests }}
    steps:
      - name: Checkout testing repository
        uses: actions/checkout@v4
        with:
          repository:
            ${{ github.event.inputs.testing_repo ||
            'aws-greengrass/aws-greengrass-testing' }}
          ref: ${{ github.event.inputs.testing_repo_ref || 'python_testing' }}
          path: aws-greengrass-testing

      - name: List all tests
        id: list
        run: |
          cd aws-greengrass-testing
          tests=$(find src -name "aws-greengrass-testing-*.py" -exec grep -l "^def test_" {} \; | \
            while read file; do
              category=$(basename "$file" | sed 's/aws-greengrass-testing-\(.*\)\.py/\1/')
              grep -h "^def test_" "$file" | sed 's/def \(test_[^(]*\).*/\1/' | \
              while read test; do
                echo "{\"name\":\"$test\",\"category\":\"$category\",\"timeout\":3900}"
              done
            done | jq -s -c .)
          echo "tests=$tests" >> $GITHUB_OUTPUT

  uat-test:
    needs: list-tests
    strategy:
      fail-fast: false
      matrix:
        test: ${{ fromJson(needs.list-tests.outputs.tests) }}
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ">=3.12"

      - name: Checkout testing repository
        uses: actions/checkout@v4
        with:
          repository:
            ${{ github.event.inputs.testing_repo ||
            'aws-greengrass/aws-greengrass-testing' }}
          ref: ${{ github.event.inputs.testing_repo_ref || 'python_testing' }}
          path: aws-greengrass-testing

      - name: Get temporary AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          audience: sts.amazonaws.com
          aws-region: us-west-2
          role-to-assume: arn:aws:iam::832850273037:role/GGL-UAT-GH-Role
          role-duration-seconds: ${{ matrix.test.timeout }}
          unset-current-credentials: true

      - name: Set sanitized SHA to github env
        env:
          PR_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          SANITIZED_SHA=$(echo "$PR_SHA" | tr -cd 'a-fA-F0-9')
          echo "SHA=$SANITIZED_SHA" >> $GITHUB_ENV

      - name: Run UAT test
        run: |
          cd aws-greengrass-testing
          ./run-tests.sh \
            --aws-account=832850273037 \
            --s3-bucket=lite-uat-bucket \
            --commit-id=${{ env.SHA }} \
            --aws-region=us-west-2 \
            --test-category=${{ matrix.test.category }} \
            --test-name=${{ matrix.test.name }}
